
.banner {
  display: flex;
  justify-content: space-between;
  gap: 114px;
  align-items: center;
}

.introduction {
  padding-left: 120px;
  width: 486px;
}

.introduction h3 {
  color: #FDC435;
}

.introduction p {
  font-size: 24px;
  margin-bottom: 32px;
  color: gray;
}

.introduction h1{
  font: bold;
  font-size: 70px;
  color: rgb(78, 76, 76);
  margin-bottom: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnProjects {
  padding: 5px 10px 5px 10px;
  background: #FDC435;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btnLinkedin {
  padding: 5px 10px 5px 10px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
}
